{% extends 'base.html' %}
{% block container %}
    <div id="map"></div>
    <script>
        var map;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10
            });
            var boundary = new google.maps.KmlLayer({
                url: "http://" + window.location.hostname + "/{{url_for('static',filename='studyarea/Boundary.kml')}}",
                preserveViewport: false,
                map: map,
                clickable: false
            });
            {% if not archived %}
            var kmz_Layer = new google.maps.KmlLayer("http://" + window.location.hostname + "/{{url_for('static',filename='bridgekmzs/' + kmz)}}" + "?dummy=" + (new Date()).getTime());
            {% else %}
            var kmz_Layer = new google.maps.KmlLayer("http://floodwarningmodeldata.s3.amazonaws.com/bridgekmzs/{{kmz}}" + "?dummy=" + (new Date()).getTime());
            {% endif %}

            kmz_Layer.setMap(map);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDz4za-JT70aI0YcgzQGf88mAncalvW9bo&callback=initMap" async defer></script>
{% endblock %}
